<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">

</head>
<body>
<header th:insert="~{header :: head}"></header>

<div sec:authorize="isAuthenticated()">
    <h1>You are already logged in!</h1>
</div>

<div class="form-container" sec:authorize="isAnonymous()">
    <form action="#" th:action="@{/authenticateUser}" method="POST">

        <!-- params are gathered on load from uri -->
        <p th:if="${param.error}" class="form-info">
            <i id="error">Invalid username, password, <br>or user has been deactivated.</i>
        </p>

        <p th:if="${param.logout}" class="form-info">
            <i id="logout">You have been logged out.</i>
        </p>

        <label>
            Username:
            <input type="text" name="username" />
        </label>

        <label>
            Password:
            <input type="password" name="password" />
        </label>

        <br>
        <input type="submit" value="Login" />

    </form>
    <a th:href="@{/register/showRegistrationForm}">Register</a>
</div>



</body>
</html>