<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/common-head :: common_html_head(${pageTitle}, ${additionalStyles})}"></head>

<body>
<header th:insert="~{header :: head(${heading}, ${secondaryHeading})}"></header>

<main>
  <section th:insert="~{systemNav :: systemNav}"></section>

  <section class="form-container">
    <form method="POST" th:action="@{/system/inventory/saveInventory}" th:object="${inventoryItem}" class="form-body">

      <p th:if="${errorMessage}" class="error form-info">
        <i th:text="${errorMessage}"></i>
      </p>

      <h3 th:text="${addType}"></h3>

      <input type="hidden" name="ingredientId" th:if="${ingredientId}" th:value="${ingredientId}" />

      <label>Name:
        <input type="text" th:field="*{ingredientName}" placeholder="name">
        <span th:if="${#fields.hasErrors('ingredientName')}" th:errors="*{ingredientName}" class="error"></span>
      </label>

      <label>Stock quantity:
        <input type="number" th:field="*{currentStock}" placeholder="quantity">
        <span th:if="${#fields.hasErrors('currentStock')}" th:errors="*{currentStock}" class="error"></span>
      </label>

      <label>Cost per oz in cents:
        <input type="number" th:field="*{centsCostPer}" placeholder="cost">
        <span th:if="${#fields.hasErrors('centsCostPer')}" th:errors="*{centsCostPer}" class="error"></span>
      </label>

      <label>Markup multiplier:
        <input type="number" th:field="*{markupMulti}" placeholder="multiplier">
        <span th:if="${#fields.hasErrors('markupMulti')}" th:errors="*{markupMulti}" class="error"></span>
      </label>

      <label>Pizza topping?:
        <input type="checkbox" th:field="*{isPizzaTopping}">
      </label>

      <input type="submit" value="Submit">
    </form>
  </section>
</main>


</body>
<script src="/js/errorMsgTimeout.js" type="text/javascript"></script>
</html>