<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pizza Shop System</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>
<header th:insert="~{header :: head}"></header>

<main class="inline">
  <section class="form-container">
    <h3 th:if="${menuItemRecipe != null}">Update Menu Item</h3>
    <h3 th:if="${menuItemRecipe == null}">Add Menu Item</h3>

    <form method="POST" th:action="@{/system/changeMenu/saveMenuItem}" th:object="${menuItem}">

      <p th:if="${menuItemError}" class="error form-info">
        <i th:text="${menuItemError}"></i>
      </p>

      <input type="hidden" name="menuItemId" th:if="${menuItemId}" th:value="${menuItemId}" />

      <div th:if="${menuItem.dishName != 'Small Cheese Pizza' && menuItem.dishName != 'Medium Cheese Pizza' && menuItem.dishName != 'Large Cheese Pizza'}">
        <label>Dish Name:
          <input type="text" th:field="*{dishName}" placeholder="name">
          <span th:if="${#fields.hasErrors('dishName')}" th:errors="*{dishName}" class="error"></span>
        </label>
      </div>

      <div th:if="${menuItem.dishName == 'Small Cheese Pizza' || menuItem.dishName == 'Medium Cheese Pizza' || menuItem.dishName == 'Large Cheese Pizza'}">
        <label><span th:text="${menuItem.dishName + '''s name cannot be modified, it is used in pizza builder.'}"></span>
          <input type="hidden" th:field="*{dishName}" th:value="*{dishName}">
          <span th:if="${#fields.hasErrors('dishName')}" th:errors="*{dishName}" class="error"></span>
        </label>
      </div>

      <label>Description:
        <textarea th:field="*{description}" placeholder="description"></textarea>
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"></span>
      </label>

      <div th:if="${menuItem.dishName != 'Small Cheese Pizza' && menuItem.dishName != 'Medium Cheese Pizza' && menuItem.dishName != 'Large Cheese Pizza'}">
        <label>Dish Category:
          <select th:field="*{menuCategory}">
            <option th:each="category : ${categories}" th:value="${category}" th:text="${category}"></option>
          </select>
          <span th:if="${#fields.hasErrors('menuCategory')}" th:errors="*{menuCategory}" class="error"></span>
        </label>
      </div>

      <div th:if="${menuItem.dishName == 'Small Cheese Pizza' || menuItem.dishName == 'Medium Cheese Pizza' || menuItem.dishName == 'Large Cheese Pizza'}">
        <label><span th:text="${menuItem.dishName + '''s category cannot be modified.'}"></span>
          <input type="hidden" th:field="*{menuCategory}" th:value="*{menuCategory}">
          <span th:if="${#fields.hasErrors('menuCategory')}" th:errors="*{menuCategory}" class="error"></span>
        </label>
      </div>

      <label>Markup Multiplier:
        <input type="number" th:field="*{markupMultiplier}" th:value="*{markupMultiplier}" min="1" max="9">
      </label>

      <label>Currently Available:
        <input type="checkbox" th:field="*{isAvailable}">
      </label>

      <div id="ingredientAmountsContainer">

          <div class="ingredient-amount" th:if="${menuItemRecipe != null}" th:each="ingredientArr : ${menuItemRecipe}">
            <label>Ingredient:
              <select name="ingredientIdAmountsKeys">
                <option th:each="ingredient : ${ingredients}" th:value="${ingredient.id}" th:text="${ingredient.ingredientName + ' (' + ingredient.unitOfMeasure + ')'}" th:selected="${ingredient.ingredientName == ingredientArr[0]}"></option>
              </select>
            </label>

            <label>Amount:
              <input type="number" name="ingredientIdAmountsValues" th:value="${ingredientArr[1]}" min="1" required/>
            </label>
            <button type="button" class="remove-item">Remove</button>
          </div>

        <div class="ingredient-amount" th:if="${menuItemRecipe == null}">
          <label>Ingredient:
            <select name="ingredientIdAmountsKeys">
              <option th:each="ingredient : ${ingredients}" th:value="${ingredient.id}" th:text="${ingredient.ingredientName + ' (' + ingredient.unitOfMeasure + ')'}"></option>
            </select>
          </label>

          <label>Amount:
            <input type="number" name="ingredientIdAmountsValues" min="1" required/>
          </label>

          <button type="button" class="remove-item">Remove</button>
        </div>

      </div>

      <button type="button" id="addIngredient">Add Ingredient</button>

      <input type="submit" value="Submit">
    </form>
  </section>
</main>

</body>
<script src="/js/addIngredientInput.js" type="text/javascript"></script>
<script src="/js/errorMsgTimeout.js" type="text/javascript"></script>
</html>