<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pizza Shop System</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>
<header th:insert="~{header :: head}"></header>

<main class="inline">
  <section class="form-container">
    <form method="POST" th:action="@{/system/changeMenu/saveMenuItem}" th:object="${menuItem}">

      <p th:if="${menuItemError}" class="error form-info">
        <i th:text="${menuItemError}"></i>
      </p>

      <label>Dish Name:
        <input type="text" th:field="*{dishName}" placeholder="name">
        <span th:if="${#fields.hasErrors('dishName')}" th:errors="*{dishName}" class="error"></span>
      </label>

      <label>Description:
        <textarea th:field="*{description}" placeholder="description"></textarea>
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"></span>
      </label>

      <label>Dish Category:
        <select th:field="*{menuCategory}" name="menuCategory">
          <option th:each="category : ${T(com.pizzashop.entities.MenuCategoryEnum).values()}" th:value="${category}" th:text="${category}"></option>
        </select>
      </label>


      <label>Currently Available:
        <span th:if="${#fields.hasErrors('isAvailable')}" th:errors="*{isAvailable}" class="error"></span>
      </label>
      <label>Yes:
        <input type="radio" th:name="isAvailable" th:field="*{isAvailable}" th:value="true" >
      </label>
      <label>No:
        <input type="radio" th:name="isAvailable" th:field="*{isAvailable}" th:value="false">
      </label>

      <div id="ingredientAmountsContainer">
        <div class="ingredient-amount">
          <label>Ingredient:
            <select name="ingredientIdAmountsKeys">
              <option th:each="ingredient : ${ingredients}" th:value="${ingredient.id}" th:text="${ingredient.ingredientName + ' (' + ingredient.unitOfMeasure + ')'}"></option>
            </select>
          </label>

          <label>Amount:
            <input type="number" name="ingredientIdAmountsValues" required/>
          </label>
          <button type="button" class="remove-item">Remove</button>
        </div>
      </div>
      <button type="button" id="addIngredient">Add Ingredient</button>

      <input type="submit" value="Submit">
    </form>
  </section>
</main>


</body>
<script src="/js/addIngredientInput.js" type="text/javascript"></script>
<script src="/js/errorMsgTimeout.js" type="text/javascript"></script>
</html>