<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pizza Shop System</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>
<header>
  <h1>Inventory</h1>
  <hr>

  <form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
  </form>
</header>

<main>

  <section class="form-container">
  <a th:href="@{/system/inventory/addInventory}">Add Item</a>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Stock Quantity</th>
        <th>Unit Of Measure</th>
        <th>Cost Per (cents)</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="item : ${inventory}">
        <td th:text="${item.getIngredientName()}"></td>
        <td th:text="${item.getCurrentStock()}"></td>
        <td th:text="${item.getUnitOfMeasure()}"></td>
        <td th:text="${item.getCentsCostPer()}"></td>
        <td>
          <a th:href="@{/system/inventory/updateInventory(ingredientId=${item.getId()})}">Update</a>
          <a th:href="@{/system/inventory/deleteInventory(ingredientId=${item.getId()})}"
             onclick="if (!(confirm('Are you sure you want to delete this record?'))) return false">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
  </section>

</main>


</body>
</html>