<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza Shop System</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>

<header th:insert="~{header :: head}"></header>

<main>

    <ul>
        <li>
            <a th:href="@{/system/inventory/showInventory}">Current Inventory</a>
        </li>
        <li>
            <a th:href="@{/system/changeMenu/showMenuItems}">Current Menu Items</a>
        </li>
    </ul>



</main>

</body>
</html>