<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pizza Shop System</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>

<header th:insert="~{header :: head}"></header>

<main class="inline">
  <section class="form-container">
    <h3>Current Recipe</h3>
    <table>
      <thead>
      <tr>
        <th>Ingredient Name</th>
        <th>Quantity</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="ingredientIdAmountsKeys, ingredientIdAmountValues : ${menuItemRecipe}">
        <td th:text="${ingredientIdAmountValues.current.key}"></td>
        <td th:text="${ingredientIdAmountValues.current.value}"></td>
      </tr>
      </tbody>
    </table>
  </section>

  <section class="form-container">
    <h3 th:if="${menuItemRecipe}">Update Menu Item</h3>
    <form method="POST" th:action="@{/system/changeMenu/updateMenuItem}" th:object="${menuItem}">

      <p th:if="${menuItemError}" class="error form-info">
        <i class="error" th:text="${menuItemError}"></i>
      </p>

      <input type="hidden" name="menuItemId" th:value="${menuItemId}" />

      <label>Dish Name:
        <input type="text" th:field="*{dishName}" placeholder="name">
        <span th:if="${#fields.hasErrors('dishName')}" th:errors="*{dishName}" class="error"></span>
      </label>

      <label>Description:
        <textarea th:field="*{description}" placeholder="description"></textarea>
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"></span>
      </label>

      <label>Dish Category:
        <select th:field="*{menuCategory}">
          <option th:each="category : ${categories}" th:value="${category}" th:text="${category}"></option>
        </select>
        <span th:if="${#fields.hasErrors('menuCategory')}" th:errors="*{menuCategory}" class="error"></span>
      </label>

      <label>Currently Available:

      </label>

      <div id="ingredientAmountsContainer">
        <div class="ingredient-amount">
          <label>Ingredient:
            <select name="ingredientIdAmountsKeys">
              <option th:each="ingredient : ${ingredients}" th:value="${ingredient.id}" th:text="${ingredient.ingredientName + ' (' + ingredient.unitOfMeasure + ')'}"></option>
            </select>
          </label>

          <label>Amount:
            <input type="number" name="ingredientIdAmountsValues" required/>
          </label>
          <button type="button" class="remove-ingredient">Remove</button>
        </div>
      </div>
      <button type="button" id="addIngredient">Add Ingredient</button>

      <input type="submit" value="Submit">
    </form>
  </section>
</main>

</body>
<script src="/js/addIngredientInput.js" type="text/javascript"></script>
</html>