<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/common-head :: common_html_head(${pageTitle}, ${additionalStyles})}"></head>

<body>
<header th:insert="~{header :: head(${heading}, ${secondaryHeading})}"></header>

<main>
  <section th:if="${orderError}">
    <h2 class="no-top-margin" th:text="${orderError}"></h2>
  </section>

  <section class="receipt-container" th:if="${order}">
    <h2 class="no-top-margin">Customer Info:</h2>
    <div>
      <p class="receipt-userdetail">
        <span><strong>Name: </strong><span th:text="${order.userDetail.firstName}"></span> <span th:text="${order.userDetail.lastName}"></span></span>
        <span><strong>Address: </strong><span th:text="${order.userDetail.address}"></span> <span th:text="${order.userDetail.city}"></span>, <span th:text="${order.userDetail.state}"></span></span>
        <span><strong>Phone: </strong><span th:text="${order.userDetail.phone}"></span></span>
        <span><strong>Email: </strong><span th:text="${order.userDetail.email}"></span></span>
      </p>

    </div>
    <h2>--  order receipt --</h2>
    <div th:if="${order.menuItemList != null}">
      <h3>From The Menu:</h3>
      <ul>
        <li th:each="menuItem : ${order.menuItemList}">
          <p class="space-between-dashed">
            <span th:text="${menuItem.menuItemName + ' x' + menuItem.menuItemAmount}"></span><span th:text="${'@' + #numbers.formatCurrency(menuItem.pricePerItem / 100 + '.' + menuItem.pricePerItem % 100) + 'ea.'}"></span>
          </p>
          <p th:text="${#numbers.formatCurrency((menuItem.pricePerItem * menuItem.menuItemAmount) / 100 + '.' + (menuItem.pricePerItem * menuItem.menuItemAmount) % 100)}"></p>
        </li>
      </ul>
    </div>

    <div th:if="${order.customPizzaList != null}">
      <h3>Custom Made Pizzas:</h3>
      <ul>
        <li th:each="pizza : ${order.customPizzaList}">
          <p class="space-between-dashed">
            <span th:text="${#strings.capitalize(#strings.toLowerCase(pizza.pizzaSize.size)) + ' ' + pizza.pizzaName + ' x' + pizza.quantity}"></span>
            <span th:text="${'@' + #numbers.formatCurrency(pizza.pricePerPizza / 100 + '.' + pizza.pricePerPizza % 100) + 'ea.'}"></span>
          </p>
          <p th:text="${#numbers.formatCurrency(pizza.totalPizzaPrice / 100 + '.' + pizza.totalPizzaPrice % 100)}"></p>
          <p th:if="${pizza.toppings != null}">Toppings:
            <span th:each="topping, iterStat : ${pizza.toppings}" th:if="${!#lists.isEmpty(pizza.toppings)}">
              <th:block th:text="${topping.name}"></th:block><th:block th:unless="${iterStat.last}">, </th:block>
            </span>
          </p>
          <p th:if="${pizza.extraToppings != null}">Extra/Light Toppings:
            <span th:each="topping, iterStat : ${pizza.extraToppings}" th:if="${!#lists.isEmpty(pizza.extraToppings)}">
              <th:block th:text="${topping.name}"></th:block><th:block th:unless="${iterStat.last}">, </th:block>
            </span>
          </p>
        </li>
      </ul>
    </div>
    <br>
    <p class="receipt-total">
      <span><strong>Total: </strong></span>
      <span th:text="${#numbers.formatCurrency(order.totalPrice / 100 + '.' + order.totalPrice % 100)}"></span>
    </p>

  </section>
</main>

</body>
<script src="/js/confirmationPage.js"></script>
</html>