<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pizza Shop System</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>
<header th:insert="~{header :: head}"></header>

<main class="inline">

  <section id="menuItems-container">
    <button>Build Your Own Pizza</button>
    <script th:inline="javascript">
      const pizzaPriceMap = {
        'SMALL': [],
        'MEDIUM': [],
        'LARGE': []
      }
    </script>
    <div th:each="category : ${menuItemsByCategory}">
      <h3 th:text="${category.key}"></h3>

      <div th:each="menuItem : ${category.value}">
        <div th:if="${menuItem.isAvailable}">
          <h4 th:text="${menuItem.dishName}"></h4>
          <p th:text="${menuItem.description}"></p>
          <p th:text="${#numbers.formatCurrency(menuItem.priceCents / 100 + '.' + menuItem.priceCents % 100)}"></p>
        </div>

        <input type="number" placeholder="Qty" min="1" th:max="${menuItem.amountAvailable}" />
        <button class="addMenuItem-btn" th:data-item-name="${menuItem.dishName}"
                th:data-item-id="${menuItem.id}" th:data-item-price="${menuItem.priceCents}"
                th:data-item-max="${menuItem.amountAvailable}">Add To Order</button>

        <div th:if="${category.key == 'PIZZA'}">
          <script th:inline="javascript">
            switch (/*[[${menuItem.dishName}]]*/) {
              case 'Small Cheese Pizza':
                pizzaPriceMap.SMALL = {price: /*[[${menuItem.priceCents}]]*/,maxQty: /*[[${menuItem.amountAvailable}]]*/};
                break;
              case 'Medium Cheese Pizza':
                pizzaPriceMap.MEDIUM = {price: /*[[${menuItem.priceCents}]]*/,maxQty: /*[[${menuItem.amountAvailable}]]*/};
                break;
              case 'Large Cheese Pizza':
                pizzaPriceMap.LARGE = {price: /*[[${menuItem.priceCents}]]*/,maxQty: /*[[${menuItem.amountAvailable}]]*/};
            }
          </script>
        </div>
      </div>
    </div>
  </section>

  <!-- todo: setup display (show-hide) of pizza builder on click of a button, set to overlay menu with higher z-index -->
  <section class="form-container" id="pizza-builder-container">
    <div>
      <h3>Name your custom pizza:</h3>
      <input type="text" name="pizzaNamesList" placeholder="pizza name" required/>
    </div>

    <div id="pizza-size-container">
      <h4>Size:</h4>
      <div th:each="size : ${pizzaSizes}" class="space-between">
        <div>
          <input type="radio" name="pizzaSizeRadios" th:id="${size.name().toLowerCase() + '-radio'}" th:if="${size.name() == 'SMALL'}"
                 th:data-pizza-size="${size.name()}" th:data-ingredient-amount="${size.ingredientAmount}" checked/>
          <input type="radio" name="pizzaSizeRadios" th:id="${size.name().toLowerCase() + '-radio'}" th:if="${size.name() != 'SMALL'}"
                 th:data-pizza-size="${size.name()}" th:data-ingredient-amount="${size.ingredientAmount}"/>
          <label th:for="${size.name().toLowerCase() + '-radio'}">
            <span th:text="${size.name().toLowerCase() + ' ' + size.description + ':'}"></span>
          </label>
        </div>
        <span th:class="${'pizza-size-price ' + size.name()}"></span>
      </div>
    </div>

    <div id="pizza-topping-container">
      <h4>Toppings:</h4>
      <div th:each="topping : ${pizzaToppings}" class="space-between" th:if="${topping.ingredientName != 'Mozzarella'}">
        <div>
          <input type="checkbox" class="topping-checkbox" th:id="${topping.ingredientName + '-chkbox'}" th:data-topping-id="${topping.id}"
                 th:data-topping-name="${topping.ingredientName}" th:data-topping-price="${topping.getCentsPricePer()}" data-topping-type="regular">
          <label th:text="${topping.ingredientName + ':'}" th:for="${topping.ingredientName + '-chkbox'}"></label>
        </div>
        <span class="ingredient-data" th:data-ingredient-price="${topping.getCentsPricePer()}"
              th:data-ingredient-name="${topping.ingredientName}">price</span>
      </div>

      <h4>Extra Toppings:</h4>
      <div th:each="topping : ${pizzaToppings}" class="space-between">
        <div>
          <input type="checkbox" class="extra-topping-checkbox" th:id="${'extra-'+topping.ingredientName + '-chkbox'}" th:data-topping-id="${topping.id}"
                 th:data-topping-name="${topping.ingredientName}" th:data-topping-price="${topping.getCentsPricePer()}" data-topping-type="extra">
          <label th:text="${topping.ingredientName + ':'}" th:for="${'extra-' + topping.ingredientName + '-chkbox'}"></label>
        </div>
        <span class="extra-ingredient-data" th:data-ingredient-price="${topping.getCentsPricePer()}"
              th:data-ingredient-name="${topping.ingredientName}">price</span>
      </div>
    </div>

    <div class="space-between">
      <input type="number" placeholder="Qty" min="1" max="100" id="pizza-qty-input"/>
      <button id="submit-pizza-btn">Add To Order</button>
    </div>

    <h5 class="space-between"><span>Price:</span><span id="pizza-price"></span></h5>
  </section>



  <!-- todo: set up js to show/hide "cart" on click of some button  -->
  <section class="form-container stay-top" id="cart">
    <div th:if="${orderError}" class="error form-info">
      <i th:text="${orderError}"></i><br>
      <div th:if="${notFound}">
        <i>The following items are no longer available:</i>
        <ul>
          <li th:each="item : ${notFound}" th:text="${item}"></li>
        </ul>
      </div>
      <div th:if="${lowStock}">
        <i>You have too many of the following items:</i><br>
        <i>Please reduce to or below the qty listed.</i>
        <ul>
          <li th:each="item : ${lowStock}" th:text="${item}"></li>
        </ul>
      </div>
    </div>

      <form action="#" th:action="@{/order/processOrder}" method="POST">
        <div id="menuAmount-container">

          <div th:if="${menuItemsIdList != null && menuDishNamesList != null && menuItemsAmountsList != null}" th:each="item, iterStat : ${menuItemsIdList}">
            <!-- these only show if there was an error so the 'cart' data is not lost, same for custom pizzas -->
            <div class="inline cartItem-Container" th:data-cart-item-id="${item}">
              <input type="hidden" th:value="${item}" name="menuItemsIdList" />
              <input type="hidden" th:value="${menuDishNamesList[iterStat.index]}" name="menuDishNamesList" />
              <p th:text="${menuDishNamesList[iterStat.index]}"></p>
              <label>Qty
                <input type="number" th:value="${menuItemsAmountsList[iterStat.index]}" min="1" name="menuItemsAmountsList" />
              </label>
              <button th:value="${menuDishNamesList[iterStat.index]}" class="remove-item">Remove Item</button>
            </div>

          </div>

          <!-- todo : set up display of pizza items for cart if there was an error similar to menu items, add lists to model -->
          <div th:if="${pizzaDTOList != null}" th:each="pizzaDTO, iterStat : ${pizzaDTOList}">
            <div class="inline cartItem-Container"></div>
          </div>

          <!-- todo : add pizza item from 'pizza builder' to 'menuAmount-container' -->

        </div>
        <input type="submit" value="Submit Order"/>
      </form>

  </section>

</main>

</body>

<script th:src="@{/js/orderForm.js}" type="text/javascript"></script>
<script th:src="@{/js/pizzaBuilder.js}" type="text/javascript" defer></script>
</html>