<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pizza Shop System</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>

<header th:insert="~{header :: head}"></header>

<main>
  <section>
    <h2>--  order receipt --</h2>
    <!-- order is from addFlashAttribute of redirectAttributes model -->
    <p th:text="${order}"></p>

  </section>
</main>

</body>
<script src="/js/confirmationPage.js" defer></script>
</html>