
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="head(heading, secondaryHeading)">

  <div class="header-info">
    <div>
      <h1 th:text="${heading}" class="heading"></h1>
      <h2 th:if="${secondaryHeading != ''}" th:text="${secondaryHeading}" class="secondary-heading"></h2>
    </div>

    <div th:if="${address}" class="address">
      <div>
        <p>ADDRESS</p>
        <strong>1234 st. City, State</strong>
      </div>
      <div>
        <p>PHONE</p>
        <strong>(123)456-7890</strong>
      </div>
    </div>
  </div>

  <div class="checker-pattern"></div>

  <nav class="vertical-center">
    <ul>
      <li>
        <a th:href="@{/}">Home</a>
      </li>
      <li>
        <a th:href="@{/order/showMenu}">Menu</a>
      </li>
      <li sec:authorize="hasRole('ROLE_EMPLOYEE')">
        <a th:href="@{/employees/showOrders}">Stream Orders</a>
      </li>
      <li sec:authorize="hasRole('ROLE_MANAGER')">
        <a th:href="@{/system}">Admin Portal</a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <form action="#" th:action="@{/logout}" method="POST">
          <input type="submit" value="Logout" id="logout-btn"/>
        </form>
      </li>
      <li sec:authorize="isAnonymous()">
        <a th:href="@{/login}">Log-In</a>
      </li>
    </ul>
  </nav>

</div>


</body>
</html>