<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/common-head :: common_html_head(${pageTitle}, ${additionalStyles})}"></head>

<body>

<header th:insert="~{header :: head(${heading}, ${secondaryHeading})}"></header>

<main>
  <section sec:authorize="isAuthenticated()">
    <h3 class="no-top-margin">Welcome
    <span sec:authentication="principal.username"></span>!
    </h3>
  </section>

  <section>
    <a th:href="@{/order/showMenu(openPizzaBuilder=true)}">Pizza Builder</a>
  </section>

</main>

</body>
</html>