hr, #cart, #pizza-builder-container,
.form-info, #cart-submit-btn,
    .pizza-builder-actions button {
    width: 100%;
}

.form-body, .form-info, .menu-item-category,
    #menuAmount-container,
    .pizza-builder-actions, #cart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cartItem-container, .menu-category-nav {
    padding: 1rem 2vw;
}

.form-body {
    align-items: flex-end;
    gap: 0.5rem 0;
}

.form-container {
    border: 1px solid var(--bg_1);
    color: var(--dark-text);
    padding: 0 1rem 1rem 1rem;
    width: fit-content;
    margin: auto;
}

.form-info {
    text-align: center;
    border-top: 1px solid var(--dark-text);
    border-bottom: 1px solid var(--dark-text);
    padding: 0.5rem 0;
    align-items: center;
}

#menuItems-container {
    padding: 0 2vw 1rem 2vw;
}

.menu-category-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2vw;
    position: sticky;
    top: 0;
    background-color: var(--bg_4);
    color: var(--light-text);
    padding: 0.25rem 2vw;
}

.menu-category-nav ul {
    display: flex;
    align-self: flex-end;
    list-style-type: none;
    margin: 1vw 0;
    padding: 0;
    gap: clamp(0.5rem, 2vw, 2rem);
}

.menu-category-nav ul a {
    text-decoration: underline var(--bg_3);
    color: var(--dark-text);
    cursor: pointer;
    font-family: Aclonica, sans-serif;
    font-size: clamp(1rem, 4vw, 1.25rem);
    transition: color 200ms ease;
}

.menu-category-nav ul a:hover {
    color: var(--light-text);
    transition: color 200ms ease;
}

.menu-item-category {
    gap: 2vh;
    scroll-margin-top: 2rem;
}

.menu-item {
    background-color: var(--light-transparent2);
    border-radius: 0.5rem;
    border: 1px dashed var(--dark-transparent2);
    padding: 0 1vw 1vw 1vw;
}

.category-heading {
    font-family: Aclonica, sans-serif;
    font-size: 1.25rem;
    margin: 3rem 0 0 0;
    scroll-margin-top: 10rem;
}

input, input[type=submit], input[type=button], button {
    padding: clamp(0.25rem, 2vw, 0.75rem);
    border-radius: 0.5rem;
    border: 1px solid var(--bg_1);
}

input[type=submit], input[type=button], button {
    background-color: var(--light-transparent);
    color: var(--dark-text);
    cursor: pointer;
    transition: background-color 200ms ease;
    font-weight: bold;
}

input[type=submit]:hover, input[type=button]:hover, button:hover {
    background-color: var(--bg_4);
    color: var(--light-text);
    transition: background-color 200ms ease;
}

input[type=number] {
    border-radius: 0.25rem;
    border: 1px solid var(--bg_1);
    padding: 0.25rem;
}

.menu-modal-btns {
    display: flex;
    gap: clamp(0.5rem, 2vw, 1rem);
}

#open-pizza-builder-btn {
    align-self: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    height: clamp(2.5rem, 4vw, 4rem);
    text-align: left;
}

#open-pizza-builder-btn svg, #show-cart-btn svg {
    max-width: clamp(1rem, 2vw, 2rem);
}

#pizza-builder-container {
    background-color: var(--dark-transparent);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: auto;
}

#pizza-size-container .space-between,
#pizza-topping-container .space-between {
    gap: 2vw;
    margin-bottom: 0.5rem;
    border-bottom: 1px dotted var(--dark-text);
}

.pizza-builder {
    background: var(--bg_2);
    color: var(--dark-text);
    border-radius: 0.5rem;
    border: 3px solid black;
    margin: auto;
    width: clamp(17.5rem, 25vw, 30rem);
    min-width: 17.5rem;
    box-shadow: 0 0.5rem 1rem 0 var(--dark-transparent), 0 0.25rem 1.5rem 0 var(--dark-transparent2);
    padding: 2vh 2vw;
}

.pizza-builder-actions {
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

#cart {
    height: fit-content;
    text-align: right;
}

#show-cart-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    gap: 1vw;
    height: clamp(2.5rem, 4vw, 4rem);
}

#show-cart-btn:hover {
    fill: var(--light-text);
}

#cart-container {
    background: var(--bg_2);
    color: var(--dark-text);
    border-radius: 0.5rem;
    width: clamp(17.5rem, 25vw, 30rem);
    box-shadow: 0 0.5rem 1rem 0 var(--dark-transparent), 0 0.25rem 1.5rem 0 var(--dark-transparent2);
    padding: 2vh 2vw;
}

.cartItem-container {
    background-color: var(--light-transparent2);
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.cartItem-container h4 {
    margin-bottom: 1.5rem;
}

#cart-submit-btn, #hide-cart-btn, #pizza-submit-btn, #pizza-cancel-btn {
    background-color: var(--bg_1);
    color: var(--light-text);
    border: 1px solid var(--bg_1);
    transition: background-color 200ms ease;
    font-weight: bold;
}

#cart-submit-btn:hover, #hide-cart-btn:hover, #pizza-submit-btn:hover, #pizza-cancel-btn:hover {
    background-color: var(--bg_4);
    transition: background-color 200ms ease;
}

.input-box {
    cursor: pointer;
}

#order-display {
    margin: 2rem auto;
    max-width: 80vw;
}

.order {
    margin: 2rem auto;
    min-width: 20rem;
}

.error {
    color: red;
}

#logout {
    color: green;
}

@media screen and (max-width: 768px) {
    .menu-category-nav {
        justify-content: center;
    }
    .menu-category-nav ul {
        width: 100%;
        justify-content: space-between;
    }
    .menu-modal-btns {
        width: 100%;
        justify-content: space-between;
    }
    #open-pizza-builder-btn {

    }
    #show-cart-btn {

    }
}