.form-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem 0;
}

.form-container {
    border: 1px solid var(--bg_1);
    color: var(--dark-text);
    padding: 0 1rem 1rem 1rem;
    width: fit-content;
    margin: auto;
}

.form-info {
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--dark-text);
    border-bottom: 1px solid var(--dark-text);
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=submit], input[type=button], button {
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    border: 1px solid var(--bg_1);
}

input[type=number] {
    border-radius: 0.25rem;
    border: 1px solid var(--bg_1);
    padding: 0.25rem;
}

.thymeleaf-items {
    width: 100%;
}

.hide-area {
    visibility: hidden;
    opacity: 0;
    transition: background-color 50ms ease, opacity 1ms ease 40ms, visibility 1ms ease 40ms;
    background: var(--dark-transparent2);
}

.show-area {
    visibility: visible;
    opacity: 1;
    transition: background-color 200ms ease;
    background: var(--dark-transparent);
}

#pizza-builder-container {
    z-index: 3;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 3rem 0 0 0;
    margin: 0;
}

#pizza-size-container .space-between,
#pizza-topping-container .space-between {
    gap: 2rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px dotted var(--dark-text);
}

.pizza-builder {
    z-index: 3;
    background: var(--bg_1);
    color: var(--light-text);
    border-radius: 0.5rem;
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
}

.menu-layout {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
    gap: 4rem;
}

.category-heading {
    font-family: Aclonica, sans-serif;
    font-size: 1.25rem;
    margin: 4rem 0 0 0;
}

#menuItems-container {
    width: 100%;
}

#menuAmount-container {
    display: flex;
    flex-direction: column;
}

#menuItems-container hr, #menuAmount-container hr {
    color: var(--light-text);
    width: 100%;

}

#menuItems-container hr {
    margin: 0 0 2rem 0;
}

#menuAmount-container hr {
    margin: 1rem 0;
}


#cart {
    position: sticky;
    top: 1rem;
    align-self: flex-start;
    border: 1px solid var(--bg_1);
    border-radius: 0.5rem;
    margin-right: 1rem;
    padding: 1rem 2rem;
    width: 100%;
    background-color: var(--light-transparent);
}

.cartItem-container {
    width: 100%;
}

.input-box {
    cursor: pointer;
}

#order-display {
    margin: 2rem auto;
    max-width: 80vw;
}

.order {
    margin: 2rem auto;
    min-width: 20rem;
}

.error {
    color: red;
}

#logout {
    color: green;
}