:root {
    --bg_1: #5F8D37;
    --bg_2: #FFF1D7;
    --bg_3: #BB3E00;
    --bg_4: #F7AD45;
    --dark-text: #333333;
    --light-text: #ffffff;
    --dark-transparent: rgba(8, 58, 47, 0.55);
    --dark-transparent2: rgba(8, 58, 47, 0.10);
    --light-transparent: rgba(255, 255, 255, 0.50);
    --light-transparent2: rgba(255, 255, 255, 0.25);
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background: var(--bg_1);
    margin: 0;
    padding: 1rem 2vw;
    overflow-y: scroll;
    color: var(--dark-text);
}

header {
    border-radius: 0.5rem 0.5rem 0 0;
}

main {
    border-radius: 0 0 0.5rem 0.5rem;
    min-height: 60vh;
}

header, main {
    max-width: 1440px;
    background: var(--bg_2);
    margin: 0 auto;
}

nav ul, .admin-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 1.5rem 1rem 3rem 1rem;
    margin: 0;
    gap: 4vw;
}

nav ul a, #logout-btn {
    font-family: Aclonica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline var(--bg_3);
    color: var(--dark-text);
    cursor: pointer;
    transition: color 200ms ease;
}

nav ul a:hover, #logout-btn:hover {
    color: var(--bg_4);
    transition: color 200ms ease;
}

#logout-btn {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-family: Italiana, serif;
    margin: 0.5rem auto 0.5rem auto;
}

.secondary-heading {
    font-family: Aclonica, sans-serif;
    margin: 0 auto 0.5rem auto;
}

.heading, .secondary-heading {
    padding: 0 2vw;
    font-size: 3rem;
}

.welcome-heading p {
    margin: 0 auto;
}

.address {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 2vw;
}

.address p {
    margin: 0.5rem 0;
}

.checker-pattern {
    background-image: url('../images/checker.svg');
    background-repeat: repeat;
    background-size: 2.5rem, 5rem;
    width: 100%;
    height: 5rem;
    margin: 0.5rem 0;
}

.vertical-center {
    align-items: center;
}

.no-top-margin {
    margin-top: 0;
}

.inline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.space-between, .space-between-dashed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.space-between-dashed {
    border-bottom: 1px dotted var(--dark-text);
    margin-bottom: 0.25rem;
}

summary {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    body {
        padding: 0;
    }
    header, main {
        border-radius: 0;
    }
    .heading, .secondary-heading {
        padding: 0;
        text-align: center;
        font-size: clamp(2rem, 10vw, 3rem);
    }
    .header-info {
        flex-direction: column;
    }
    .address {
        text-align: center;
        flex-direction: row;
        gap: 1rem;
    }
}