:root {
    --bg: #c6d3e6;
}

.error {
    color: red;
}
#logout {
    color: green;
}

.inline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.stay-top {
    position: fixed;
    top: 10rem;
    right: 5rem;
}

.form-container {
    border: 1px solid #c6d3e6;
    color: #333333;
    width: fit-content;
    min-height: 20rem;
}

.form-info {
    width: 100%;
    text-align: center;
    background-color: var(--bg);
    border-top: 1px solid #343434;
    border-bottom: 1px solid #343434;
    padding: 0.25rem 0;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem 0;
    padding: 0 1rem 1rem 1rem;
}
input[type=submit] {
    padding: 0 1rem;
    cursor: pointer;
}
table {
    border-collapse: collapse;

}
th, td {
    border: 1px dashed #c6d3e6;
    text-align: center;
    padding: 1rem;
}